#mainBlock
{
	width: 700px;
	height: 500px;
	margin: 0 20%;
	border: 1px #c2c2c2 solid;
	background-color: #e6e6e6;
	border-radius: 5px;
}

input[type=button]
{
	color: red;
	border-radius: 50px;
	height: 25px;
	width: 100px;
	margin: 50px;
}

input[type=button]:active
{
	height: 25px;
	width: 100px;
	margin: 50px;
	border-radius: 50px;
}